@page "/employeedetail/{Id}"
@inherits EmployeeDetailBase
    <div class="row justify-content-center m-3">

        @if (Employee == null)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="col-md-8">

                <div class="card">
                    <div class="card-header">
                        <h3>@Employee.FirstName @Employee.LastName</h3>
                        <p>@Cordinates</p>
                    </div>
                    <div class="card-body text-center">
                        <img class="card-img-top thumbnail" src="@Employee.Passport" style="min-width:18rem; max-width:30.5%" @onmousemove="@MouseMove" />
                        <h3>Department:@(Employee.Department!=null ? @Employee.Department.DepartmentName:"N/A")</h3>
                        <h3>@Employee.Email</h3>
                        <h3>@Employee.Gender</h3>
                    </div>

                    <div class="card-footer text-center">
                        <a href="/" class="btn btn-secondary m-1">Back</a>
                        <a href="#" class="btn btn-primary m-1">Edit</a>
                        <a href="#" class="btn btn-primary m-1">Delete</a>
                    </div>
                </div>
            </div>
        }
        </div> 
        